
	<form>
		<select name='rules' style="padding:10px">
			<option value='PriceRange'>Price range</option>
			<option value='Asksize'>Ask size</option>
			<option value='BidSize'>Bid size</option>
			<option value='BidAskRatio'>Bid Ask ratio</option>
			<option value='AskBidRatio'>Ask Bid ratio</option>
			<option value='Spread'>Spread</option>
			<option value='AverageDailyVolume'>Average daily volume</option>
			<option value='TodaysVolume'>Today's volume</option>
			<option value='1DayVolumeRatio'>1 day volume ratio</option>
			<option value='RelativeVolumeRatio'>Relative volume ratio</option>		
			<option value='YesterdayVolumeRatio'>Yesterday volume ratio</option>
			<option value='Volatility60Minutes'>Volatility 60 minutes</option>
			<option value='Volatility15Minutes'>Volatility 15 minutes</option>
			<option value='1MinuteVolumeRatio'>1 minute volume ratio</option>
			<option value='5MinuteVolumeRatio'>5 minute volume ratio</option>
			<option value='1minuteVolumeRatio'>15 minute volume ratio</option> 
			<option value='60MinuteVolumeRatio'>60 minute volume ratio</option>
		
		
		 
		
			<option value='AverageTrueRange'>Average True Range</option>
		
		
		 
		
			<option value='TodaysRange'>Today`s range</option>
		
		
		 
		
			<option value='1 minute range'>1 minute range</option>
		
		
		 
		
			<option value='5 minute range'>5 minute range</option>
		
		
		 
		
			<option value='15 minute range'>15 minute range</option>
		
		
		 
		
			<option value='60 minute range'>60 minute range</option>
			<option value='1 minute range'>1 % minute range</option>
		
		
		 
		
			<option value='5 minute range'>5 % minute range</option>
		
		
		 
		
			<option value='15 minute range'>15 % minute range</option>
		
		
		 
		
			<option value='60 minute range'>60 % minute range</option>
		
		
		 
		
			<option value='DailyPositiveCandle'>Daily positive candle</option>
		
			<option value='1MinutesPositiveCandle'>1 minutes positive candle</option>
		
		
		 
		
			<option value='5MinutesPositiveCandle'>5 minutes positive candle</option>
		
		
		 
		
			<option value='15MinutesPositiveCandle'>15 minutes positive candle</option>
		
		
		 
		
			<option value='60MinutesPositiveCandle'>60 minutes positive candle</option>
		
		
		
		 
		
			<option value='1MinutesPositiveCandle'>1 minutes positive candle</option>
		
		
		 
		
			<option value='5MinutesPositiveCandle'>5 minutes positive candle</option>
		
		
		 
		
			<option value='15MinutesPositiveCandle'>15 minutes positive candle</option>
		
		
		 
		
			<option value='60MinutesPositiveCandle'>60 minutes positive candle</option>
		
		
		
		 
		
			<option value='DailyNegativeCandle'>Daily negative candle</option>
		
		
		 
		
			<option value='1MinutesNegativeCandle'>1 minutes negative  candle</option>
		
		
		 
		
			<option value='5MinutesegativeCandle'>5 minutes negative  candle</option>
		
		
		 
		
			<option value='15MinutesegativeCandle'>15 minutes negative  candle</option>
		
		
		 
		
			<option value='60MinutesegativeCandle'>60 minutes negative  candle</option>
		
		
		
		 
		
			<option value='%DownYesterday'>% Down Yesterday</option>
			<option value='%UPYesterday'>% UP Yesterday</option>
		
		
		 
		
			<option value='AverageNumberofPrints/Trades'>Average number of prints / trades</option>
		
		
		 
		
			<option value='MarketCap'>Market Cap</option>
		
		
		 
		
			<option value='NewHigh'>New high</option>
			<option value='NewLow'>New low</option>
		
		
		 
		
			<option value='CrossedDailyHighs'>Crossed daily highs</option>
			<option value='CrossedDailyLows'>Crossed daily lows</option>
		
		
		 
		
			<option value='NewHighWithMinimumChange'>New high with minimum change</option>
			<option value='NewLowWithMinimumChange'>New low with minimum change</option>
		
		
		 
		
			<option value='% UpForTheDay'>% up for the day</option>
			<option value='% DownForTheDay'>% down for the day</option>
		
		
		 
		
			<option value='SignificantAskSize'>Significant ask size</option>
			<option value='SignificantBidSize'>Significant bid size</option>

			<option value='BigSizeTrade'>Big size trade</option>
		
		
		 
		
			<option value='ConsolidationRange60Minutes'>Consolidation range 60 minutes</option>
			<option value='ConsolidationRange15Minutes'>Consolidation range 15 minutes</option>
			<option value='ConsolidationRange5Minutes'>Consolidation range 5 minutes</option>
		
		
		 
		
			<option value='RelativeVolumeUp'>Relative volume up</option>
		
		
		 
		
			<option value='SuddenVolumeSpikeRatio'>Sudden volume spike ratio</option>
		
		
		 
		
			<option value='5MinuteVolumeSpikeRatio'>5 Minute Volume Spike ratio</option>
			<option value='15MinuteVolumeSpikeRatio'>15 Minute Volume Spike ratio</option>
			<option value='60MinuteVolumeSpikeRatio'>60 Minute Volume Spike ratio</option>
			
			
		
		 
		
			<option value='UnusualNumberofTrades1m'>Unusual number of trades 1m</option>
			<option value='UnusualNumberofTrades5m'>Unusual number of trades 5m</option>
			<option value='UnusualNumberofTrades15m'>Unusual number of trades 15m</option>
			<option value='UnusualNumberofTrades60m'>Unusual number of trades 60m</option>
			
			
			<option value='SpikeUp %'>Spike up %</option>
			<option value='SpikeDown %'>Spike down %</option>
		
		
		 
		</select>
		<input type="submit" value="scan"/>
	</form>
